In [4]:
import pandas as pd

input_file = 'Mobile_activity_3months_scrambled.csv'

In [5]:
df2 = pd.read_csv(input_file, header="infer")
df2.head(10)

         lat        lon  timestep  count
0  25.696395 -80.297496         1      1
1  25.699544 -80.297055         1      1
2  25.698612 -80.292015         1      1
3  25.939942 -80.341607         1      1
4  25.939221 -80.349899         1      1
5  25.944992 -80.346589         1      1
6  27.938951 -82.492018         1      1
7  27.944691 -82.489610         1      3
8  28.355484 -81.555740         1      1
9  28.350659 -81.566172         1      1